body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1d2a35;
    font-family: "Roberto";
}

#main_grid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows:  1fr;
    grid-template-areas: " m "
                         " h "
                         " c "
                         " f ";
}


header { 
    grid-area: h; 
    text-align: center; 
}

.menu    { 
    grid-area: m; 
    text-align: center; 
}

main { 
    grid-area: c;
    margin-left: 25vw;
 }

footer { 
    grid-area: f;  
}

#gaming_pc {
    width: 50vw;
}