body {
    background-color: #1d2a35;
}

h1, p {
    color: white;
}

#figur {
    display: flex;
}

.ring {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.blå {
    background-color: transparent;
    position: relative;
    border: #0085C7 2px solid;
    right: 132px;
}

.gul {
    border: #F4C300 2px solid;
    background-color: transparent;
    position: relative;
    left: 30px;
    bottom: -30px;
}

.svart {
    border: #000000 2px solid;
    position: relative;
    right: 128px;
    
}

.grønn {
    border: #009F3D 2px solid;
    position: relative;
    right: 160px;
    bottom: -30px;
}

.raud {
    border: #df0024 2px solid;
    position: relative;
    right: -68px;
}
