body {
    background-color: #1d2a35;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container.foto {
    flex-direction: column;
    margin: 20px;
}

h1, h2, h3, p {
    color: white;
    width: 380px;
}

#OG_anime {
    position: relative;
    left: 45%
}

img {
    width: 400px;
}