#go_back_button {
    display: flex;
    color: white;
    background-color: #283d4f;
    border: solid 2px white;
    padding: 20px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: 20px;
    border-radius: 25%;
    cursor: pointer;
}

#go_back_arrow {
    height: 10px;
    margin: 0;
    padding: 0;
}