body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1d2a35;
    background-image: url(/Portefolio/bilder/pexels-suket-dedhia-671658.jpg);
    background-size: cover;
    font-family: "Roberto";
}

#main_grid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: 1fr;
    grid-template-areas: " m "
                         " h "
                         " c "
                         " f ";
}

header { 
    grid-area: h; 
    text-align: center;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    max-width: 150px;
    margin-left: 50vw;
    margin-bottom: 30px;
    transform: translate(-50%); 
}

.menu { 
    grid-area: m; 
    text-align: center; 
    margin: 0;
    padding: 0;
}

main { 
    grid-area: c;
    text-align: center;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    max-width: 400px;
    margin-left: 50vw;
    transform: translate(-50%);
 }

footer { 
    grid-area: f; 
}

.information-about-me {
    color: white;
}

.about_me {
    width: 500px;
    margin-left: 50%;
    transform: translate(-50%);
}