body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1d2a35;
    background-image: url(/Portefolio/bilder/pexels-sagui-andrea-618833.jpg);
    background-size: cover;
    font-family: "Roberto";
}

#main_grid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: 1fr;
    grid-template-areas: " m "
                         " h "
                         " c "
                         " f ";
}

header { 
    grid-area: h; 
    text-align: center;
    margin: auto;
    width: 50vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    max-width: 250px; 
}

menu    { 
    grid-area: m; 
    text-align: center; 
    margin: 0;
    padding: 0;
}

main { 
    grid-area: c;
    margin: auto;
    width: 50vw;
    padding: 10px;
 }

footer  { 
    grid-area: f;
    margin-top: 35vh;  
}

.vertical-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15px;
    background-color: grey;
    height: 60vh;
    position: fixed;
    overflow: auto;
    transition: all 0.2s ease;
    border-radius: 0px 25px 25px 0px;
}

.vertical-bar:hover {
    width: 200px;
}

.vertical-bar:hover .task-links a {
    display: block;
}

.task-links a {
    display: none;
    color: #000;
    padding: 8px 16px; 
    text-decoration: none;
}

.task-links a.active {
    background-color: #333;
    color: white;
}
.task-links a:hover:not(.active) {
    background-color: #555;
    color: white; 
}

#information {
    margin: auto;
    width: 50vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25%;
    max-width: 200px;
}

#go_back_arrow {
    max-width: 21px;
}

@media screen and (max-width: 520px) {
    body {
        background-image: url(/Portefolio/bilder/bilete_mobil/pexels-roheet-bhattarai-12783894.jpg);
        background-size: auto;
    }

    header {
        margin-top: 5vw;
        display: flex;
        align-self: center;
        justify-self: center;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 100%;
    }

    main {
        width: 100vw;
        padding: 10px;
    }

    footer {
        margin-top: 3vh;
        margin-left: 5vw;
    }
    
    #information {
        display: flex;
        align-self: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 100%;
        padding: 20px;
    }

    .vertical-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15px;
    background-color: grey;
    height: 45vh;
    position: fixed;
    overflow: auto;
    transition: all 0.2s ease;
    border-radius: 0px 25px 25px 0px;
    }
}