body {
  padding: 0;
  margin: 0;
  background-color: #1d2a35;
  font-family: Georgia, serif; 
}


#main_grid {
  display: grid;
  width: auto;
  height: auto;
  grid-template-rows: 1fr;
  grid-template-areas: " m "
                       " h "
                       " c "
                       " f ";
}

header { 
  grid-area: h; 
  text-align: center;
  color: white; 
}

.menu    { 
  grid-area: m; 
  text-align: center; 
  margin: 0;
  padding: 0;
}

main { 
  grid-area: c;
  padding: 20px;
}

footer  { 
  grid-area: f; 
  text-align: center;
  color: white; 
}

.vertical-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15px;
  background-color: grey;
  height: 30vh;
  position: fixed;
  overflow: auto;
  transition: all 0.2s ease;
  border-radius: 0px 25px 25px 0px;
}

.vertical-bar:hover {
  width: 200px;
}

.vertical-bar:hover .task-links a {
  display: block;
}

.task-links a {
  display: none;
  color: #000;
  padding: 8px 16px; 
  text-decoration: none;
}

.task-links a.active {
  background-color: #333;
  color: white;
}
.task-links a:hover:not(.active) {
  background-color: #555;
  color: white; 
}
table {
  border-collapse: collapse;
  border-bottom: 2px solid #2a2b32;
}
th, td {
  border: 1px solid #f6f5f4;
  padding: 8px;
}
thead > tr {
  background-color: #2a2b32;
  color: #f6f7fa;
}
tbody > tr {
  background-color: #f6f7fa;
} 

#hoved {         
  margin: 20px;         
  padding: 20px;	             
  background-color: white; 	 
  border: 1px solid #cccccc;
}
h1 {
  font-family: Arial, sans-serif; 
}